@import "~modern-normalize/modern-normalize.css"; 

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.status {
  background-color: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: block;
}

.status.online {
  background-color: green;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 150px;
  margin-top: 100px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.profile {
  width: 500px;
  height: 460px;
  text-align: center;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 1px 1px 8px 0px #000000;
  padding-top: 30px;
  margin-bottom: 20px;
}


.avatar {
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
  border-radius: 50%;
  margin:auto;
}

.name {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
  
}

.tag {
  margin-bottom: 12px;
  color: #000000;
}

.location {
  color: #808080;
  font-weight: 500;
  margin-bottom: 94px;
}

.stats {
  position: relative;
  display: flex;

  align-items: center;
  justify-content: space-evenly;
  height: 90px;
  border-radius: 6px;
  border-top: 1px solid #80808050;
  background-color: #f3f6f9;
}

.label {
  color: #000000;
  display: block;
  padding: 10px;
}

.quantity {
  font-weight: 500;
}

.statistics {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 500px;
  height: 200px;
  background-color: #fff;
  box-shadow: 1px 1px 8px 0px #000000;
  padding-top: 50px;
  border-radius: 6px;
  overflow: hidden;
  margin-top: 40px;
}

.title {
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.stat-list {
  display: flex;
  justify-content: center;
}

.item {
  text-align: center;
  width: 100%;
  padding: 20px;
}


.percentage {
  font-weight: 500;
}

.friend-list {
  width: 500px;
margin-top: 20px;
  margin-bottom: 20px;
}

.friend-item {
  background-color: #fff;
  text-align: center;
  padding: 20px;
  box-shadow: 1px 1px 8px 0px #000000;
  margin-bottom: 20px;
  border-radius: 6px;
}

.status {
  background-color: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: block;
}

.status.online {
  background-color: green;
}

.transaction-history {
  min-width: 500px;
  text-align: center;
  margin-bottom: 50px;
  box-shadow: 1px 1px 8px 0px #000000;
}

.transaction-title {
  background-color: blueviolet;
  line-height: 40px;
}

.dark-row {
  background-color: #ecf2f4;
  line-height: 40px;
  text-transform: capitalize;
  color: #808080;
}

.dark-row:nth-child(2n) {
  background-color: #fff;
}

